@page "/expendable/cart"
@using FSH.Framework.Blazor.UI.Components.Cards
@inherits ComponentBase
@inject ISnackbar Snackbar

<FshPageHeader Title="Shopping Cart" Description="Manage employee shopping cart">
    <ActionContent>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">
            Add Item
        </MudButton>
    </ActionContent>
</FshPageHeader>

<div class="mt-4">
    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.body1">Shopping Cart - API integration coming soon</MudText>
        </MudCardContent>
    </MudCard>
</div>