@page "/expendable/requests"
@using FSH.Framework.Blazor.UI.Components.Cards
@inherits ComponentBase
@inject ISnackbar Snackbar

<FshPageHeader Title="Supply Requests" Description="Manage employee supply requests">
    <ActionContent>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add">
            New Request
        </MudButton>
    </ActionContent>
</FshPageHeader>

<div class="mt-4">
    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.body1">Supply Requests module - API integration coming soon</MudText>
        </MudCardContent>
    </MudCard>
</div>