@page "/expendable/warehouse"
@using FSH.Framework.Blazor.UI.Components.Cards
@inherits ComponentBase
@inject ISnackbar Snackbar

<FshPageHeader Title="Warehouse" Description="Manage inventory and warehouse operations">
    <ActionContent>
        <MudButton Variant="Variant.Text" Color="Color.Default">Pending Inspections</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Default">Stock Levels</MudButton>
    </ActionContent>
</FshPageHeader>

<div class="mt-4">
    <MudCard>
        <MudCardContent>
            <MudText Typo="Typo.body1">Warehouse & Inventory - API integration coming soon</MudText>
        </MudCardContent>
    </MudCard>
</div>